.circularProgress {
  position: relative;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: conic-gradient(#0dade0 3.6deg, #ededed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circularProgress::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
}

.progressValue {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #0dade0;
}

.text {
  font-size: 30px;
  font-weight: 500;
  color: #606060;
}
